@model UserManagement.Web.Models.UserLogs.UserLogListViewModel

<h2>User Logs List</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>User Id</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Action</th>
				<th>Date and time</th>
				<th style="width: 1px;"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.UserId</td>
					<td>@item.Forename</td>
					<td>@item.Surname</td>
					<td>@item.Action</td>
					<td>@item.DateTime</td>
					<td>
						<div class="dropdown">
							<button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
								Actions
							</button>
							<ul class="dropdown-menu" aria-labelledby="btnToggleActions">
								<li><a class="dropdown-item" asp-action="View" asp-route-id="@item.Id">View</a></li>
							</ul>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div>
	<div class="btn-group" role="group">
		<!--Changed the syle of the buttons to make them stand out a bit more-->
		<a asp-controller="UserLogs" asp-action="List" asp-route-descending="true" class="btn btn-outline-secondary">Sort by date descending</a>
		<a asp-controller="UserLogs" asp-action="List" asp-route-descending="false" class="btn btn-outline-secondary">Sort by date ascending</a>
	</div>

	<a asp-controller="Users" asp-action="List" class="btn btn-secondary float-end">
		Back to Users
	</a>
</div>

